required:
  - id
  - name
type: object
properties:
  id:
    readOnly: true
    type: string
  name:
    type: string
  multi_tenant:
    type: boolean
  requires_own_users:
    type: boolean
  max_login_session_duration:
    type: integer