post:
  tags:
  - System
  summary: Create app-org
  description: |
    Create app-org

    **Auth:** Requires system access token with `update_app_orgs` or `all_app_orgs` permission
  security:
    - bearerAuth: []
  requestBody:
    description: New app-org
    content:
      application/json:
        schema:
          $ref: "../../schemas/apis/system/create-app-org/request/Request.yaml"
    required: true
  responses:
    200:
      description: Success
      content:
        text/plain:
          schema:
            type: string
            example: Success
    400:
      description: Bad request
    401:
      description: Unauthorized
    500:
      description: Internal error