post:
  tags:
  - Admin
  summary: Gets organization-specific admin app configs
  description: |
    Returns the admin app config for the highest version that is equal to or less than the provided version for the currently authenticated organization

    **Auth:** Requires admin auth token
  security:
  - bearerAuth: []
  requestBody:
    content:
      application/json:
        schema:
          $ref: "../../../../schemas/apis/shared/requests/app-configs/organization/Request.yaml"
        example:
          version: "1.0.1"
          app_type_identifier: "edu.illinois.rokwire.android"
  responses:
    200:
      description: successfully read app configuration
      content:
        application/json:
          schema:
            $ref: "../../../../schemas/application/ApplicationConfig.yaml"
    400:
      description: Bad request.
    401:
      description: Unauthorized
    404:
      description: AppConfig not found
    500:
      description: Internal error