 post:
  tags:
  - Admin
  summary: Create application
  description: |
    Creates application
  security:
    - bearerAuth: []
  requestBody:
    description: creates one application
    content:
      application/json:
        schema:
          $ref: "../../schemas/organization/Application.yaml"
    required: true
  responses:
    200:
      description: Success
      content:
        text/plain:
          schema:
            type: string
            example: Success
    400:
      description: Bad request
    401:
      description: Unauthorized
    500:
      description: Internal error