get:
  summary: OpenID Connect Discovery
  responses:
    200:
      description: Success
      content:
        application/json:
          schema:
            $ref: '../../schemas/auth/OIDCDiscovery.yaml'